<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="page">
        <header>
            <img src={{ url_for('static', filename='/images/site_logo.png') }} style="width: 255px;">
            <nav>
                <ul>
                    <li><a href="/driver/assignable">운송 신청</a></li>
                    <li><a id="selected_atag" href="#">내 배정현황</a></li>
                    <li><a href="/user/logout">logout</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <h1>내 배정현황</h1>
    <table class="container">
        <thead>
            <tr>
                <th>고객사명</th>
                <th>상차지</th>
                <th>상차지 주소</th>
                <th>상차시간</th>
                <th>하차지</th>
                <th>하차지주소</th>
                <th>하차시간</th>
                <th>요청차량</th>
                <th>운임비</th>
                <th>기사명</th>
                <th>기사연락처</th>
                <th>차량번호</th>
                <th>차량정보</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>{{board.groupname}}</td>
                <td>{{board.loadingname}}</td>
                <td>{{board.loadingaddress}}</td>
                <td>{{board.loadingtime}}</td>
                <td>{{board.unloadingname}}</td>
                <td>{{board.unloadingaddress}}</td>
                <td>{{board.unloadingtime}}</td>
                <td>{{board.car}}톤</td>
                <td>{{board.cost}}</td>
                <td>{{board.name}}</td>
                <td>{{board.telphone}}</td>
                <td>{{board.info}}</td>
                <td>{{board.carinfo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="page-div">
        {{ pagination.links | safe }}
    </div>
</body>
</html>