<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="page">
        <header>
            <img src={{ url_for('static', filename='/images/site_logo.png') }} style="width: 255px;">
            <nav>
                <ul>
                    <li><a id="selected_atag" href="#">사용자 목록</a></li>
                    <li><a href="/user/alltable">운송목록</a></li>
                    <li><a href="/user/logout">logout</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active"
                    aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/user/alltable" class="nav-link link-body-emphasis px-2">운송목록 확인</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li>
            <li class="nav-item"><a href="/user/logout" class="nav-link link-body-emphasis px-2">로그아웃</a></li>
        </ul>
    </div> -->
    <h1>회원정보 확인 </h1>
    <table class="container">
        <thead>
            <tr>
                <th>아이디</th>
                <th>연락처</th>
                <th>이름</th>
                <th>유형</th>
                <th>고객사주소/차량번호</th>
                <th>차량정보</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.memberid}}</td>
                <td>{{user.telphone}}</td>
                <td>{{user.name}}</td>
                <td>{{user.grade}}</td>
                <td>{{user.info}}</td>
                <td>{{user.carinfo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="page-div">
        {{ pagination.links | safe }}
    </div>
</body>

</html>