<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객사 등록</title>
</head>
<body>
    <d1>
        <dt>요청일시</dt>
        <input type="date" name="loadindate">
    </d1>
    <d1>
        <dt>업체명</dt>
        <input type='text' name="xGroup.groupname", placeholder="업체명", required>
    </d1>
    <d1>
        <dt>상차지</dt>
        <input type='text' name="loadingpoint.address", placeholder="상차지",required>
    </d1>
    <d1>
        <dt>하차지</dt>
        <input type='text' name="loadingpoint.address", placeholder="하차지", required>
    </d1>
    <d1>
        <dt>요청 차종</dt>
        <select name="optionlist[]" onchange="change_option(this, 'basic');" label="COLOR" opt_type="SELECT" opt_id="1" opt_mix="Y" require="Y" opt_mandatory="Y" class="basic_option">
        
            <option carinfo="">차종 선택</option>
                
            <option carinfo="다마스/라보">다마스/라보</option>
                
            <option carinfo="1톤">1톤</option>
                
            <option carinfo="1.4톤">1.4톤</option>
                
            <option carinfo="2,5톤">2.5톤</option>
                
            <option carinfo="3.5톤">3.5톤</option>
                
            <option carinfo="3.5톤 광폭">3.5톤 광폭</option>
                
            <option carinfo="5톤">5톤</option>
        
            <option carinfo="5톤 축">5톤 축</option>

            <option carinfo="11톤">11톤</option>

            <option carinfo="11톤 축">11톤 축</option>
            </select>
    </d1>
    <d1>
        <dt>요금</dt>
        <button id="myButton" onclick="hideButton()">요금 정산</button>

    <script>
        function hideButton() {
            var button = document.getElementById("myButton");

            button.style.display = "none";

            var priceElement = document.getElementById("price");
            priceElement.style.display = "block";
        }
    </script>
        
    </d1>
</body>
</html>



