<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
</head>

<body>
    <div class="page">
        <header>
            <img src={{ url_for('static', filename='/images/site_logo.png') }} style="width: 255px;">
            <nav>
                <ul>
                    <li><a href="/user/manage">사용자 목록</a></li>
                    <li><a id="selected_atag" href="#">운송목록</a></li>
                    <li><a href="/user/logout">logout</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- <a href="/user/manage" class="">사용자 목록</a>
    <a href="/user/logout" class="btn-gradient blue mini">로그아웃</a> -->
    <h1>운송현황</h1>
    <table class="container">
        <thead>
            <tr>
                <th id="thboard1">고객사명</th>
                <th id="thboard2">상차지</th>
                <th id="thboard3">상차지 주소</th>
                <th id="thboard4">상차시간</th>
                <th id="thboard5">하차지</th>
                <th id="thboard6">하차지주소</th>
                <th id="thboard7">하차시간</th>
                <th id="thboard8">요청차량</th>
                <th id="thboard9">운임비</th>
                <th id="thboard10">기사명</th>
                <th id="thboard11">기사연락처</th>
                <th id="thboard12">차량번호</th>
                <th id="thboard13">차량정보</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>{{board.groupname}}</td>
                <td>{{board.loadingname}}</td>
                <td>{{board.loadingaddress}}</td>
                <td>{{board.loadingtime}}</td>
                <td>{{board.unloadingname}}</td>
                <td>{{board.unloadingaddress}}</td>
                <td>{{board.unloadingtime}}</td>
                <td>{{board.car}}톤</td>
                <td>{{board.cost}}원</td>
                <td>{{board.name}}</td>
                <td>{{board.telphone}}</td>
                <td>{{board.info}}</td>
                <td>{{board.carinfo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="page-div">
        {{ pagination.links | safe }}
    </div>
</body>
</html>