<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객사 등록</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function hideButton() {
            var button = document.getElementById("myButton");
            var carinfo = document.getElementById("carinfo");
            var start = document.getElementById("start_point");
            var end = document.getElementById("end_point");
            $.ajax({
                url: '/cust/price',
                type: 'GET',
                dataType: 'text',
                data: { 'carinfo': carinfo.value, 'start': start.value, 'end': end.value },
                success: function (response) {
                    // Handle the successful response
                    $('#result').text('Response from server: ' + response.message);
                    var priceElement = document.getElementById("pricevalue");
                    document.getElementById("hiddenPrice").value=response;
                    priceElement.style.display = "block";
                    priceElement.innerText = response
                },
                error: function (error) {
                    // Handle any errors
                    console.error('Error:', error);
                }
            });

            button.style.display = "none";
        }
    </script>
</head>

<body>
    <form action="{{url_for('cust_page.cust_reg_service')}}" method="post">
        <dl>

            <dt>상차일</dt>
            <input type="date" name="loadingdate">
        </dl>
        <dl>
            <dt>하차일</dt>
            <input type="date" name="unloadingdate">
        </dl>
        <dl>
            <dt>업체명</dt>
            <input type='text' name="groupname" , placeholder="업체명" , required>
        </dl>
        <dl>
            <dt>상차지명</dt>
            <input id="start_name" type='text' name="startpointName" , placeholder="상차지명" ,required>
        </dl>
        <dl>
            <dt>상차지 주소</dt>
            <input id="start_point" type='text' name="startpointAddress" , placeholder="상차지 주소" ,required>
        </dl>
        <dl>
            <dt>하차지명</dt>
            <input id="start_name" type='text' name="endpointName" , placeholder="하차지명" ,required>
        </dl>
        <dl>
            <dt>하차지 주소</dt>
            <input id="end_point" type='text' name="endpointAddress" , placeholder="하차지 주소" , required>
        </dl>
        <dl>
            <dt>요청 톤수</dt>
            <select id="carinfo" name="carinfo" onchange="change_option(this, 'basic');" label="COLOR"
                opt_type="SELECT" opt_id="1" opt_mix="Y" require="Y" opt_mandatory="Y" class="basic_option">

                <option value="" selected disabled hidden>톤수를 선택해주세요.</option>

                <option value="1">1톤</option>

                <option value="2">2톤</option>

                <option value="3">3톤</option>

                <option value="4">4톤</option>

                <option value="5">5톤</option>

                <option value="6">6톤</option>

                <option value="7">7톤</option>

                <option value="8">8톤</option>

                <option value="9">9톤</option>

                <option value="10">10톤</option>
            </select>
        </dl>
        <dl>
            <dt>요금</dt>
            <div onclick="hideButton()">요금 정산</div>
            <p id="pricevalue" style="display: none"></p>
            <input type="hidden" name="price" id="hiddenPrice">
        </dl>
        </dl>

        <dl>
            <input type="submit" value="저장">
        </dl>
    </form>
</body>

</html>