<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객사 등록</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <form action="{{url_for('cust_page.cust_reg_service')}}" method="post">
    <dl>

        <dt>요청일시</dt>
        <input type="date" name="loadingdate">
    </dl>
    <dl>
        <dt>업체명</dt>
        <input type='text' name="xGroup.groupname", placeholder="업체명", required>
    </dl>
    <dl>
        <dt>상차지명</dt>
        <input id="start_name" type='text' name="startpoint.name", placeholder="상차지명",required>
    </dl>
    <dl>
        <dt>상차지 주소</dt>
        <input id="start_point" type='text' name="startpoint.address", placeholder="상차지 주소",required>
    </dl>
    <dl>
        <dt>하차지명</dt>
        <input id="start_name" type='text' name="end.name", placeholder="하차지명",required>
    </dl>
    <dl>
        <dt>하차지 주소</dt>
        <input id="end_point" type='text' name="endpoint.address", placeholder="하차지 주소", required>
    </dl>
    <dl>
        <dt>요청 톤수</dt>
        <select id="carinfo" name="optionlist[]" onchange="change_option(this, 'basic');" label="COLOR" opt_type="SELECT" opt_id="1" opt_mix="Y" require="Y" opt_mandatory="Y" class="basic_option">
        
            <option value="" selected disabled hidden>톤수를 선택해주세요.</option>

            <option value="1톤">1톤</option>
                
            <option value="2톤">2톤</option>
                
            <option value="3톤">3톤</option>
                
            <option value="4톤">4톤</option>
                
            <option value="5톤">5톤</option>
                
            <option value="6톤">6톤</option>
                
            <option value="7톤">7톤</option>
        
            <option value="8톤">8톤</option>

            <option value="9톤">9톤</option>

            <option value="10톤">10톤</option>
            </select>
    </dl>
    <dl>
        <dt>요금</dt>
        <button id="myButton" onclick="hideButton()">요금 정산</button>
        <p id="pricevalue" style="display: none"></p>
    </dl>

    <script>
        function hideButton() {
            var button = document.getElementById("myButton");
            var carinfo = document.getElementById("carinfo");
            var start = document.getElementById("start_point");
            var end = document.getElementById("end_point");
            $.ajax({
                    url: '/cust/price',
                    type: 'GET',
                    dataType: 'text',
                    data: {'carinfo' : carinfo.value, 'start' : start.value , 'end':end.value},
                    success: function(response) {
                        // Handle the successful response
                        $('#result').text('Response from server: ' + response.message);
                        var priceElement = document.getElementById("pricevalue");
                        priceElement.style.display = "block";
                        priceElement.innerText=response
                    },
                    error: function(error) {
                        // Handle any errors
                        console.error('Error:', error);
                    }
                });

            button.style.display = "none";

        }
    </script>
    </dl>

    <dl>
        <input type="submit" value="저장">
    </dl>
    </form>
</body>
</html>



