<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객사 메인 페이지</title>
</head>

<body>
    <!-- 간략한 운송 정보 -->
    <table>
        <tbody>
        <p> 운송 정보 </p>
        <tr>
            <th>작업 번호</th>
            <td>출발지</td>
            <td>도착지</td>
            <td>출발일</td>
            <td>도착일</td>
        </tr>
        {% for row in data: %}
        <tr>
            <th>{{row['board_id']}}</th>
            <td>{{row['departure_point']}}</td>
            <td>{{row['arrival_point']}}</td>
            <td>{{row['departure_date']}}</td>
            <td>{{row['arrival_date']}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <!-- 버튼 모음 테이블 세로 두 줄 나열?-->
    <table>
        <tbody>
            <tr>
                <td><button type="button" onClick="location.href='/board/detail'">종합 자세히</button></td>
            </tr>
            <!-- 생각나는대로 추가한 버튼, 미구현시 삭제. -->
            <tr>
                <td><button type="button" onClick="location.href='{운전자 검색 페이지?}'">운전자 찾기</button></td>
                <td><button type="button" onClick="location.href='{의뢰 목록 & 아직 연결 대기중}'">아직 연결 안 된 의뢰 목록</button></td>
            </tr>
            <tr>
                <td><button type="button" onClick="location.href='{의뢰 목록 & 이상 발생}'">이상이 발생한 의뢰 목록</button></td>
                <td><button type="button" onClick="location.href='{의뢰 목록 & 완료}'">완료된 의뢰 목록</button></td>
            </tr>
        </tbody>
    </table>

</body>
</html>