<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportation Information main</title>
</head>
<body>
    <h3> 운송 정보 조회 <a href="/t_info/detail"> 자세히 보기</a></h3> 
    <table>
        <tbody>
            <hr>
            <tr>
                <td> 
                    <div style="text-align:center">고객사명</div>
                </td>
                <td>
                    <div style="text-align:center">출발 일시</div>
                </td>
                <td> 
                    <div style="text-align:center">도착 일시</div>
                </td>
                <td>
                    <div style="text-align:center">운송가능무게<br>(단위: 톤)</div>
                </td>
                <td>
                    <div style="text-align:center">운전자명</div>
                </td>
            </tr>
            {% for row in data: %}
            <tr>
                <td>{{row['group_name']}}</td>
                <td>{{row['departure_time']}}</td>
                <td>{{row['arrival_time']}}</td>
                <td>
                    <div style="text-align:right">{{row['weight_info']}}</div>
                </td>
                <td>{{row['driver_name']}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>