<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body>
    <table>
        <tbody>
            <tr>
                <td> 관리자페이지 </td>
                <td><button onclick="location.href='/admin'">바로가기</button ></td>
            </tr>
            <tr>
                <td> 사용자페이지 </td>
                <td><button onclick="location.href='/user'">바로가기</button ></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</body>
</html>